.home{
    width: 100%;
    height: 600px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

.homeIcons{
    width: 100%;
    height: 350px;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;

    & .icons{
        width: 37%;
        height: 40%;
        background-color: rgb(228,178,214);
        border-radius: 50%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        transition: all 250ms ease-in-out;

        & p{
            width: 300px;
            height: 70%;
            border-radius: 50%;
            border: 1px solid white;
            background-color: transparent;
            margin-left: 17px;
            color: white;
            font-size: 40px;
        }
    }

    & .icons2{
        width: 37%;
        height: 40%;
        background-color: rgb(220,198,152);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 250ms ease-in-out; 

        & p{
            width: 80%;
            height: 80%;
            border-radius: 50%;
            border: 1px solid rgb(238, 230, 230);
            background-color: transparent;
            color: white;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    & .icons3{
        width: 37%;
        height: 40%;
        background-color: rgb(162,209,225);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 250ms ease-in-out; 


        & p{
            width: 80%;
            height: 80%;
            border-radius: 50%;
            border: 1px solid rgb(238, 230, 230);
            background-color: transparent;
            color: white;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    & .icons4{
        width: 37%;
        height: 40%;
        background-color: rgb(220,214,145);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 250ms ease-in-out;


        
        & p{
            width: 80%;
            height: 80%;
            border-radius: 50%;
            border: 1px solid rgb(238, 230, 230);
            background-color: transparent;
            color: white;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.contain{
    width: 20%;
    height: 70%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & j{
        font-size: 12px;
        color: gray;
        margin-top: 10px;
    }
    
}

.contain:hover{
    & .icons{
        background: rgb(130,174,70);
    }

    & .icons2{
        background: rgb(130,174,70);
    }

    & .icons3{
        background: rgb(130,174,70);
    }

    & .icons4{
        background: rgb(130,174,70);
    }
    
}

.pic{
    width: 100%;
    height: 500px;
    /* background-color: gray; */
    display: flex;
    gap: 20px;
    justify-content: center;

    & .block{
        width: 27%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        gap: 30px;

        & .box{
            width: 100%;
            height: 47%;
            display: flex;
            align-items: flex-end;
            position: relative;

            & button{
                width: max-content;
                height: 15%;
                background-color: rgb(130,174,70);
                color: white;
                position: absolute;
                border: none;
                outline: none;
                cursor: pointer;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 18px;
            }
        }

        & .box2{
            width: 100%;
            height: 100%;
            background-color: yellow;
            position: relative;

            & .details{
                width: 100%;
                height: 30%;
                /* background-color: red; */
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;

                & h4{
                    color: rgb(130,174,70);
                    font-size: 20px;
                    font-style: italic;
                }

                & p{
                    color: gray;
                }

                & button{
                    width: 100px;
                    height: 40px;
                    background-color: rgb(130,174,70);
                    border-radius: 20px;
                    color: white;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-size: 16px;
                }
                
            }
        
        }
  }
}

.section{
    width: 100%;
    height: 900px;
    /* background-color: gray; */

    & .headText{
        width: 100%;
        height: 30%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h4{
            color: rgb(130,174,70);
            font-style: italic;
        }

        & h1{
            margin-top: 20px;
            font-size: 40px;
        }

        & p{
            color: gray;
            margin-top: 20px;
        }
    }

    & .product{
        width: 100%;
        height: 70%;
        /* background-color: rgb(141, 81, 81); */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        & .prod{
            width: 20%;
            height: 48%;
            border: 1px solid rgb(224, 221, 221);
            position: relative;
            

            & .hover{
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                background-color: rgba(220, 220, 220, 0);
                justify-content: center;
                align-items: flex-end;
                padding: 10px;
                gap: 10px;
                top: 0;
                cursor: pointer;
                /* opacity: 0; */

              

                & p{
                    width: 16%;
                    height: 15%;
                    background: rgb(130,174,70);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
            }

            & .zoom{
                width: 100%;
                height: 60%;
                overflow: hidden;
                

                & img:hover{
                    transform: scale(1.1);
                }

                & img{
                    width: 100%;
                    height: 100%;
                    transition: all 250ms ease-in-out;
                    cursor: pointer;
                }
            }

            & .text{
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                & h4{
                    font-weight: normal;
                    font-size: 14px;
                }

                & p{
                    color: rgb(130,174,70);
                }

                & k{
                    width: 100px;
                    display: flex;
                    gap: 10px;
                    margin-right: 20px;
                    color: rgb(130,174,70);
                }

                j{
                    color: rgb(161, 158, 158);
                    text-decoration: line-through;
                }
            }
        }

    }
}

/* .prod .hover:hover{
    background: #000;
    z-index: 10px;
    
} */


.section4{
    width: 100%;
    height: 600px;
    background-image: url(../../../IMG/bg1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    position: relative;
}

.customer{
    width: 100%;
    height: 350px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    & h4{
        color: rgb(130,174,70);
        font-style: italic;
    }

    & h1{
        font-size: 40px;
    }

    & p{
        color: gray;
    }
    
}

.found{
    width: 100%;
    height: 400px;
}

.brands{
    width: 100%;
    height: 250px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-top: 1px solid lightgray;

    & .bloc{
        width: 13%;
        height: 100%;
    }

     & img{
        width: 100%;
        height: 100%;
        object-fit: contain;
     } 
}

.timer_section_side{
    width: 42%;
    height: 90vh;
    /* background-color:rgb(141, 13, 13); */
    position: absolute;
    top: 0;
    left: 50%;
    padding: 20px;

    & p{
        font-size: 22px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 500;
        color: rgb(84, 121, 34);
        word-spacing: 3px;
        margin-top: 15px;
    }
    & h2{
        font-size: 46px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        margin-top: 32px;
        margin-bottom:32px ;
    }
    & span{
        color: grey;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 4px;
        font-size: 19px;
        font-weight: 400;
       line-height: 1.7;
        /* margin-bottom: 40px; */
    }
    & h3{
        font-size: 32px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
        color: rgb(130,174,70);
        margin-top: 40px;
    }
    & h5{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        word-spacing: 2px;
        color:rgb(130,174,70) ;
        margin-top: 30px;

        & em{
            color: gray;
        }
    }
}

.timer{
    width: 100%;
    height: 25vh;
    /* background-color: green; */
    margin-top: 10px;


}
.timer .T {
    display: flex;
    list-style: none;
    /* justify-content: space-around; */
    gap: 57px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
    font-size: 45px;
    padding-top: 45px;
    color:rgb(130,174,70) ;
    

}
.timer .t {
    display: flex;
    list-style: none;
    /* justify-content: space-around; */
    gap: 57px;
    padding: 25px;

}